<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block meta %}
            <meta name="description" content="Dragonfly - Bug Tracker - Project Manager" />

        {% endblock %}
        <title>{% block page_title %}Dragonfly{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('bundles/mazediacareer/css/bootstrap.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/mazediacareer/css/bootstrap-datepicker3.css') }}" type="text/css" media="all" />
          <link rel="stylesheet" href="{{ asset('bundles/mazediacareer/css/theme.css') }}" type="text/css" media="all" />
          <link rel="stylesheet" href="{{ asset('bundles/mazediacareer/css/font-awesome.min.css') }}" type="text/css" />
          <link rel="stylesheet" href="{{ asset('bundles/mazediacareer/css/font-awesome.min.css') }}" type="text/css" />
          <link rel="stylesheet" href="{{ asset('bundles/mazediacareer/css/star-rating.min.css') }}" type="text/css" />
          <link rel="stylesheet" href="{{ asset('bundles/mazediacareer/css/style.css') }}" type="text/css" media="all" />

        {% endblock %}
        
        {% block javascripts %}
        <script
              src="https://code.jquery.com/jquery-1.12.4.min.js"
              integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
              crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <script src="https://use.fontawesome.com/1c729a5e27.js"></script>


            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/mazediacareer/js/bootstrap-datepicker.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/mazediacareer/js/bootstrap-datepicker.fr.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/mazediacareer/js/jquery.matchHeight.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/mazediacareer/js/min/bootstrap.min.js') }}"></script>         
            <script type="text/javascript" src="{{ asset('bundles/mazediacareer/js/jquery.steps.js') }}"></script>          
            <script type="text/javascript" src="{{ asset('bundles/mazediacareer/js/modernizr.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/trsteelckeditor/ckeditor.js') }}"></script>
        {% endblock %}
        
    </head>
    <body class="{% block bodyclass %}{% endblock %}" id="{% block bodyid %}{% endblock %}">
        {% block body %}
        {% endblock %}
    </body>
</html>
